<launch>
	<arg name="robot_ip" default="192.168.0.26"/>
	<include file="$(find openni_launch)/launch/openni.launch" respawn="true" >
	</include>
<node name="cabinet_center_leftroi" pkg="object_detect" type="cabinet_center_leftroi" respawn="false"  />   

	<include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
	<arg name="robot_ip" value="$(arg robot_ip)" />
	</include> 



	<include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
	</include>
 
 
<node name="cabinetros" pkg="pr2_moveit_tutorials" type="cabinetros" respawn="false"  output="screen"/>    		 
</launch>
